/*
!/app
/app/etc/env.php
/app/etc/NonComposerComponentRegistration.php
/app/etc/db_schema.xml
/app/etc/di.xml
/app/etc/registration_globlist.php
/app/etc/vendor_path.php
/app/.htaccess
/app/autoload.php
/app/bootstrap.php
/app/functions.php
!/patch
!/composer.*
!/package.json
!/package-lock.json
!/yarn.lock
!.gitignore
!**/.gitkeep
!README.md
!/pub/index.php
!/pub/errors/default/503.phtml
!/pub/errors/sub
!/pub/errors/default/images/logo.png
!/pub/errors/default/images/logo_2.png
.idea
.DS_Store
.vscode
